<main class="main-container">
  <!-- Section for the About link, styled like post titles -->
  <section class="post-list">
    <ul style="display: flex; justify-content: center; padding: 0; list-style: none;">
      <li>
        <div class="title">
          <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a>
        </div>
      </li>
    </ul>
  </section>

  <!-- Introductory Text Section for Blog posts -->
  <section class="intro_title">
    <h3>Blog posts:</h3>
  </section>
  <section class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'Blog' %}
        <ul>
          <li>
            <div class="title">
              <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
            </div>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
  </section>

  <!-- Introductory Text Section for Papers -->
  <section class="intro_title">
    <h3>Papers:</h3>
  </section>
  <section class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'Papers' %}
        <ul>
          <li>
            <div class="title">
              <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
            </div>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
  </section>


  <!-- Introductory Text Section for Thesis -->
  <section class="intro_title">
    <h3>Thesis Chapters:</h3>
  </section>
  <section class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'Thesis' %}
        <ul>
          <li>
            <div class="title">
              <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
            </div>
          </li>
        </ul>
      {% endif %}
    {% endfor %}
  </section>



</main>